/**@ Author:Lanlin**/
body,form{margin:0px;}
td,th{font-size:12px; padding:0;}
a{color:#0B5B9A; text-decoration:none}
a:hover{color:#900}

input{height:20px; padding:0; margin:0; font-size:12px;}
ul,li{margin:0px;padding:0px;}
fieldset{margin:3px 2px 15px 2px;}

/*******************************************************/
.top-s1{margin-top:15px;}
.top-s1 div {float:left;width:118px;line-height:24px; text-align:center; font-size:14px; margin-left:1px;}
.top-s1 div a{color:#fff}
.top-s1 div a:hover{color:#fff}

.top-item-1{background-image:url(/bpps/ui/skin_1/images/top-item1.jpg); background-repeat:no-repeat; font-weight:bold; color:#FFFFFF; cursor:pointer;}
.top-item-2{background-image:url(/bpps/ui/skin_1/images/top-item2.jpg); background-repeat:no-repeat;color:#f7f7f7;cursor:pointer;}

.left-item-s1{ background-color:#F6F9FF;}
.left-item-s1 th{color:#C4ECFF; text-align:left; padding-left:45px;background-image:url(/bpps/ui/skin_1/images/item.jpg); background-repeat:no-repeat; width:117px; height:25px;}

.pro-item-s1{}
.pro-item-s1 th{padding-left:35px; color:#333333; font-weight:normal;text-align:left; background-image:url(/bpps/ui/skin_1/images/ldot.jpg); background-repeat:no-repeat; background-position:20px center; border-bottom:solid 1px #E3E3E3;}
.pro-item-s1 th a {color:#333333;}
.pro-item-s1 th a:hover {color:#FF3300; }

#main-mypos{width:99%; margin-left:auto; margin-right:auto; margin-top:5px;}
#main-mypos th{color:#333333;background-color:#DAF3FD; background-image:url(/bpps/ui/skin_1/images/pos.gif); background-repeat:no-repeat; background-position:10px center; padding-left:30px; font-weight:normal; padding-top:4px;}


.pannel-1{width:99%; margin:10px auto 0px auto;color:#003; table-layout:fixed;}
.pannel-1 thead th{text-align:left; height:25px; color:#15428B; padding-left:10px; border-bottom:solid 1px #AECFF0;}/* Pannel标题 */
.pannel-1 tbody td{border-left:solid 1px #AECFF0;border-right:solid 1px #AECFF0; border-bottom:solid 1px #AECFF0; background-color:#F2FAFF; padding:2px;}

.pannel-head-left{background-image:url(/bpps/ui/skin_1/images/corners-sprite.gif); background-repeat:no-repeat; width:2px;}
.pannel-head-mid{background-image:url(/bpps/ui/skin_1/images/corners-sprite-mid.jpg); background-repeat:repeat-x; border-top:solid 1px #99BBE8;}
.pannel-head-right{background-image:url(/bpps/ui/skin_1/images/corners-sprite.gif); background-repeat:no-repeat; width:2px; background-position:right 0;}

.theform{padding:0; table-layout:auto;}
.theform tr td{padding:4px 0 4px 0;border:none;padding-right:20px;color:blue;font-family:Tahoma, Geneva, sans-serif;}
.theform tr th{padding:4px 0 4px 0;color:#000; font-weight:normal; font-family:Arial,Helvetica,sans-serif; text-align:right;}

.bt{ background-image:url(/bpps/ui/skin_1/images/btbg.jpg); background-repeat:no-repeat;border:solid 0px #FFFFFF; font-size:12px; height:21px; width:66px;}
.bt2{ background-image:url(/bpps/ui/skin_1/images/btbg2.jpg); background-repeat:no-repeat;border:solid 0px #FFFFFF; font-size:12px; height:21px; width:66px;}

#grid {width:100%; overflow:auto; height:530px;min-height:500px;}
#grid table{border-collapse:collapse; width:100%;}
#grid table thead td{ background-image:none;border:solid 1px #CCC; background-image:url(/bpps/ui/skin_1/images/gridtitle.jpg); background-repeat:repeat-x;line-height:18px;}
#grid table tbody td{ line-height:18px; border:solid 1px #E3E3E3; }

#toolbar{ list-style:none;width:100%;line-height:25px;}
#toolbar li{ float:left;margin-left:15px;padding-left:20px;}
#toolbar li a{color:#000; letter-spacing:5px;}
#toolbar li a:hover{ color:#C00;}
.addnew{background-image:url(/bpps/ui/skin_1/images/toolbar/addnew.gif);  background-repeat:no-repeat; background-position:left 5px;}
.modify{background-image:url(/bpps/ui/skin_1/images/toolbar/modify.gif); background-repeat:no-repeat; background-position:left 5px;}
.delete{background-image:url(/bpps/ui/skin_1/images/toolbar/delete.gif); background-repeat:no-repeat; background-position:left 5px;}
.toapply{background-image:url(/bpps/ui/skin_1/images/toolbar/toapply.gif); background-repeat:no-repeat; background-position:left 5px;}


#grid-pagenav{width:99%;min-height:20px; text-align:right; line-height:30px;}

#shownode{cursor:pointer;}

.grid-mouseover{}
.grid-mouseover tr td{ background-color:#F0F0F2;}

.grid-mouseout{}
.grid-mouseout tr td{ background-color:#fff;}

.opr_bt{border:none;}
.opr_bt tr td{border:none;}

div#article_header{margin-top: 10px;margin-bottom: 20px;text-align: center;font-size: 16px;color: #069;font-weight: bold;}
div#article_content{width: 740px;font-size: 12px;line-height: 1.8em;padding-left: 5px;
    display: block;text-align: left;font-family: Helvetica, Tahoma, Arial, sans-serif;color: black;}
div#article_content tr td{font-size: 14px;text-overflow:ellipsis;white-space:nowrap;}
div#page {width: 740px;margin:  0 auto; margin-top: 5px;padding: 0; background: white;text-align: center;clear:both;}